manifest {
    name        = 'cryVar'
    author      = 'dpilz'
    description = 'SARS-CoV-2 cryptic variant detection pipeline'
}

params {
    reads        = "data/fastq/*.fastq.gz"
    reference    = "reference/reference_genome/NC_045512_Hu-1.fasta"
    annotation   = "reference/annotation/NC_045512_Hu-1.gff"
    metadata     = null
    primer_dir   = "reference/primer"
    outdir       = "results"
    minreadlen   = 80
    ivar_options = ""
    covar_options = ""
}

process {
    executor = 'local'

    withName: ALIGN_MINIMAP2 {
        cpus   = 8
        memory = '16 GB'
    }

    withName: SAMTOOLS_SORT_INDEX_PRE {
        cpus   = 4
        memory = '8 GB'
    }

    withName: IVAR_TRIM {
        cpus   = 4
        memory = '4 GB'
    }

    withName: SAMTOOLS_SORT_INDEX_POST {
        cpus   = 4
        memory = '8 GB'
    }

    withName: COVAR {
        cpus   = 8
        memory = '8 GB'
    }
}

profiles {
    standard {
        params {
            outdir = "results"
        }
    }

    debug {
        params {
            reads  = "data/test/*_{R1,R2}.fastq.gz"
            outdir = "results/debug"
        }
        timeline {
            enabled = true
            file    = "timeline.html"
        }
    }
}

