manifest {
    name        = 'cryVar'
    author      = 'dpilz'
    description = 'Cryptic variant detection pipeline template'
}

params {
    reads        = "data/fastq/*_{R1,R2}.fastq.gz"
    reference    = "reference/reference.fasta"
    primer_bed   = "reference/primers.bed"
    outdir       = "results"
    minreadlen   = 30
    slop         = 4
    ivar_options = ""
}

process {
    executor = 'local'

    withName: ALIGN_MINIMAP2 {
        cpus   = 8
        memory = '16 GB'
    }

    withName: SAMTOOLS_SORT_INDEX_PRE {
        cpus   = 4
        memory = '8 GB'
    }

    withName: IVAR_TRIM {
        cpus   = 4
        memory = '4 GB'
    }

    withName: SAMTOOLS_SORT_INDEX_POST {
        cpus   = 4
        memory = '8 GB'
    }
}

profiles {
    standard {
        params {
            outdir = "results"
        }
    }

    debug {
        params {
            reads  = "data/test/*_{R1,R2}.fastq.gz"
            outdir = "results/debug"
        }
        timeline {
            enabled = true
            file    = "timeline.html"
        }
    }
}

